.features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  max-width: 800px;
  width: 100%;
}

.featureWebp {
  max-width: 500px;
  max-height: 200px;
  width: auto;
  height: auto;
}
